body {
  font-family: cerapro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  max-width: 100%;
  height: max-content;
  position: relative;
}
@font-face {
  font-family: "cerapro";
  src: url("../src/fonts/cerapro.otf") format("opentype");
}
